.content_bg
    .footer_bg.text-center
        .footer_font
            明砌室內設計
        .footer_font    
            Tel：0925501962	Email：nose0821@gmail.com
        .footer_font
            Copyright © 2015 Allness. All rights reserved.