$gray-color: #57585A;
$blue-color: #00ADEF;
$dark_blue_color: #337ab7;
$light-gray-color: #D1D2D4;
$lighter_gray_color: #A6A9AB;
$high-light-color: #EB0028;
$main-font-color: $gray-color;

$link-color:    $blue-color;
$link-hover-color:      darken($link-color, 15%) !default;

