// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'global_define';
.margin-top-10{
    margin-top: 10px;
}
.margin-top-15{
    margin-top: 15px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-30{
    margin-top: 30px;
}
.margin-top-100{
    margin-top: 100px;
}
.margin-0{
    margin: 0px;
}
.height_480{
    max-height: 480px;
    img{
        max-height: 480px;
    }
}
.padding-right-5{
    padding-right:5px;
}
.padding-left-10{
    padding-left: 10px;
}
.padding-left-20{
    padding-left: 20px;
}
.padding-left-30{
    padding-left: 30px;
}
.padding-0{
    padding: 0px;
}
.padding-0-20{
    padding: 0px 20px;
}
.padding-top-20{
    padding-top: 20px;
}
.padding-bottom-20{
    padding-bottom: 20px;
}
.padding-bottom-10{
    padding-bottom: 10px;
}
.width_760{
    width: 760px;
}
.width_20p{
    width: 20%;
}
.width_full{
    width: 100%;
    img{
        width: 100%;
    }
}
.margin_top_50{
    margin-top: 50px;
}

.text-align_right{
    text-align: right;
}
.margin-30-0{
    margin: 30px 0px;
}
.margin-20-0{
    margin: 20px 0px;
}
.margin-10-0{
    margin: 10px 0px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-12{
    margin-bottom: 12px;
}
.margin-bottom-15{
    margin-bottom: 15px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-bottom-40{
    margin-bottom: 40px;
}
.margin-bottom-60{
    margin-bottom: 60px;
}
.margin-bottom-66{
    margin-bottom: 66px;
}
.margin-bottom-70{
    margin-bottom: 70px;
}
.margin-bottom-80{
    margin-bottom: 80px;
}
.margin-left-10{
    margin-left: 10px;
}
.margin-left-20{
    margin-left: 20px;
}
.margin-left-30{
    margin-left: 30px;
}
.margin-left-40{
    margin-left: 40px;
}
.margin-left-50{
    margin-left: 50px;
}
.banner_title{
    text-align: left;
    font-size: 20px;
}
.bottom-30{
    bottom: 30px;
}

.index_list_box{
    position: relative;
    img{
        width: 100%;
    }
    .title{
        height: 100%;
        position: absolute;
        display: inline;
        width: 100%;
        top: 0px;
        padding: 20px;
        font-size: 14px;
        color: #FFF;
        word-wrap: break-word;
        word-break: normal;
        overflow: hidden;
        &.gray{
            color: $gray-color;
        }
    }
    &:hover .title{
        color: #FFF;
        background-color: rgba(0, 0, 0, 0.5);
        }
    @media (min-width: screen-md){
        img{
            height: 167px;
        }
    }
    .hover_block{
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        height: 100%;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 27px;
        padding-top: 75px;
    }
    &:hover .hover_block{
        opacity: 1;
        transition: orphans 2s;
        -moz-transition: orphans 2s; /* Firefox 4 */
        -webkit-transition: orphans 2s; /* Safari 和 Chrome */
        -o-transition: orphans 2s; /* Opera */

        a:hover{
            color: white;
        }
        a:focus{
            color: white;
            text-decoration: none;
        }
    }
    .hover_block2{
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        height: 83%;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 27px;
        padding-top: 55px;
    }
    &:hover .hover_block2{
        opacity: 1;
        transition: orphans 2s;
        -moz-transition: orphans 2s; /* Firefox 4 */
        -webkit-transition: orphans 2s; /* Safari 和 Chrome */
        -o-transition: orphans 2s; /* Opera */

        a:hover{
            color: white;
        }
        a:focus{
            color: white;
            text-decoration: none;
        }
    }    
}  

h2 {
    font-size: 34px;
}


/***************************************/

.manager_bg{
    width: 100%;
    height: 610px;
    background: image-url("content_bg.jpg");
    overflow: hidden;
    text-align: center;
    padding-top: 130px;
}
.main_container{
    position: absolute;
    top: 0;
    z-index: 1;
}
.content_bg{
    width: 100%;
    background: image-url("content_bg.jpg");
    overflow: hidden;
}
.index_content_title_big{
    color: #57544f;
    font-size: 24px;
}
.index_content_title{
    color: #57544f;
    font-size: 20px;
}
.index_content_title_small{
    color: #57544f;
    font-size: 14px;
}
.brief{
    background-color: #4e4642;
    color: #FFF;
}
.line_left{
    width:35%;
    height:2px;
    margin:0px 30px 5px 0px;
    padding:0px;
    background-color:#626262;
    overflow:hidden;
    display:inline-block
}
.line_right{
    width:35%;
    height:2px;
    margin:0px 0px 5px 30px;
    padding:0px;
    background-color:#626262;
    overflow:hidden;
    display:inline-block
}
.main_bg{
    width: 100%;
}    
.pic_box{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 206px;    
}
@media (max-width: 768px) {
    .main_container{
        width: 100%;
    }
    .custom_container {
        width: 100%;
    }
    .main_bg{
        width: 100%;
        margin-top: 62px;
    }
    .line_left{
        display: none;
    }
    .line_right{
        display: none;
    }
    .index_content_title.margin-top-20{
        margin: 10px 0px 0px 0px;
    }
}
@media (min-width: 769px) and (max-width: 991px) {
    .container{
        width: 95%;
    }
    .nav > li{
        margin-left: 21px;
    }
    .pic_box{
        height: 180px;    
    }
    .line_left{
        width: 32%;
    }
    .line_right{
        width: 32%;
    }
}
                   

