// Place all the styles related to the qa controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.q_bg{
    padding: 5px 10px;
    background: rgba(218, 212, 204, 0.7);
    height: 300px;
}

.qa_size{
    font-size: 13px;
}

.line_hight{
    line-height: 25px;
}